:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;

}

a:hover {
  color: #1e21ea;
}


select {
  border: none;
  font-size: 1rem;
  outline: none;
  text-indent: 5px;
}


button {
  border-radius: 20px;
  outline: none;
  padding: .6rem .8rem;
  font-weight: bold;
  background: none;
  border: none;
  color: #000;
  border: 1px solid #fff;

}

button:hover {
  border: 1px solid currentColor;
}



.btn-primary {
  background-color: #000;
  border: 1px solid #000;
  color: #fff;

}

.btn-primary:hover {
  background-color: #fff;
  color: #000;
}

.btn-outline {
  border: 1px solid #ccc;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff;

}

.navbar-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navbar-logo {
  font-weight: bold;
  color: #1e21ea;
  margin-left: 1rem;
  margin-right: 1rem;
  /* border-right: solid; */
  padding: 1rem;

}

.banner {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
}

.img-banner {
  height: 450px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  align-items: start;
}

.banner-content > h1 {
  font-size: 60px;
  font-weight: 600;

}


.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

}



.brands {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
}

.brands > img {
  max-height: 2rem;
}


